In [1]:
# new york city population over time fro wiki
import requests
from bs4 import BeautifulSoup

In [2]:
# check website response
pop = requests.get('https://en.wikipedia.org/wiki/New_York_City')
pop

In [5]:
# get text works when you index it to a paritcular tag
soup = BeautifulSoup(pop.content,'html.parser')
soup.find_all('tr')[0].get_text()

'New York'

In [70]:
# Exlpored html, found the table and data within.
Historical_table = soup.find(class_ ="toccolours")
table_body = Historical_table.find('tbody')
table_item = table_body.find('th')

In [65]:
table_item

[<th style="border-bottom:1px solid black;padding:1px;width:3em">Year</th>,
 <th style="border-bottom:1px solid black;padding:1px 2px;text-align:right"><abbr title="Population">Pop.</abbr></th>,
 <th style="border-bottom:1px solid black;padding:1px;text-align:right"><abbr title="Percent change">±%</abbr></th>,
 <th style="text-align:center;padding:1px">1698</th>,
 <th style="text-align:center;padding:1px">1712</th>,
 <th style="text-align:center;padding:1px">1723</th>,
 <th style="text-align:center;padding:1px">1737</th>,
 <th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">1746</th>,
 <th style="text-align:center;padding:1px">1756</th>,
 <th style="text-align:center;padding:1px">1771</th>,
 <th style="text-align:center;padding:1px">1790</th>,
 <th style="text-align:center;padding:1px">1800</th>,
 <th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">1810</th>,
 <th style="text-align:center;padding:1px">1820</th>,
 <th style="text-align:center;padding:1px">1830</th>,
 <th style="text-align:center;padding:1px">1840</th>,
 <th style="text-align:center;padding:1px">1850</th>,
 <th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">1860</th>,
 <th style="text-align:center;padding:1px">1870</th>,
 <th style="text-align:center;padding:1px">1880</th>,
 <th style="text-align:center;padding:1px">1890</th>,
 <th style="text-align:center;padding:1px">1900</th>,
 <th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">1910</th>,
 <th style="text-align:center;padding:1px">1920</th>,
 <th style="text-align:center;padding:1px">1930</th>,
 <th style="text-align:center;padding:1px">1940</th>,
 <th style="text-align:center;padding:1px">1950</th>,
 <th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">1960</th>,
 <th style="text-align:center;padding:1px">1970</th>,
 <th style="text-align:center;padding:1px">1980</th>,
 <th style="text-align:center;padding:1px">1990</th>,
 <th style="text-align:center;padding:1px">2000</th>,
 <th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">2010</th>,
 <th style="text-align:center;padding:1px">2020</th>]

In [79]:
year = table_item.text

In [80]:
year

'Year'

#### After a while, I thought why not try CSS selectors, since I know the tags that house the data and in what order .

In [52]:
# The data for years are  stored in a th tag, will return the same output as our find methods
item = Historical_table.select("body tr th")

In [100]:
# the  first 3 values are the column names, which I dont want
# I can add them later as I make a dataframe.
periods = [pt.get_text() for pt in item[3::]]
len(periods)

31

In [101]:
# To get the rest of the data,we must swith to the td tag
item_v = Historical_table.select("body tr td")

In [102]:
popu = [pt.get_text() for pt in item_v[0:-1:2]]
len(popu)

31

In [103]:
pctc= [pt.get_text() for pt in item_v[1::2]]
len(pctc)

31

# Turning our Data into a Dataframe

In [105]:
import pandas as pd

In [98]:
Headers =['Years', "Population", "Percent_Change"]

In [104]:
Nyc_historical = pd.DataFrame({
    'Years':periods,
    "Population": popu,
    "Percent_Change":pctc
    
})
Nyc_historical

   Years Population Percent_Change
0   1698      4,937          —
1   1712      5,840         +18.3%
2   1723      7,248         +24.1%
3   1737     10,664         +47.1%
4   1746     11,717          +9.9%
5   1756     13,046         +11.3%
6   1771     21,863         +67.6%
7   1790     49,401        +126.0%
8   1800     79,216         +60.4%
9   1810    119,734         +51.1%
10  1820    152,056         +27.0%
11  1830    242,278         +59.3%
12  1840    391,114         +61.4%
13  1850    696,115         +78.0%
14  1860  1,174,779         +68.8%
15  1870  1,478,103         +25.8%
16  1880  1,911,698         +29.3%
17  1890  2,507,414         +31.2%
18  1900  3,437,202         +37.1%
19  1910  4,766,883         +38.7%
20  1920  5,620,048         +17.9%
21  1930  6,930,446         +23.3%
22  1940  7,454,995          +7.6%
23  1950  7,891,957          +5.9%
24  1960  7,781,984          −1.4%
25  1970  7,894,862          +1.5%
26  1980  7,071,639         −10.4%
27  1990  7,322,564          +3.5%
28  2000  8,008,278          +9.4%
29  2010  8,175,133          +2.1%
30  2020  8,804,190          +7.7%

In [120]:
# Need to convert these objects in to integers.
Nyc_historical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Years           31 non-null     object
 1   Population      31 non-null     int32
 2   Percent_Change  31 non-null     object
dtypes: int32(1), object(2)
memory usage: 748.0+ bytes

# Problems encountered 
1. ~~With populations,I cant convert it into a numeric(int), due to the commas~
2. ~~need to seperate the  numeric in percent Change from the symbols andd probabluy convert it back into a decimal (float)~~

In [176]:
Nyc_historical['Population'] = Nyc_historical['Population'].str.replace(",","").astype(int)
Nyc_historical['Percent_Change'] = Nyc_historical['Percent_Change'].str.extract('(\d+\.\d)')

### More problems spoted, more cleaning :
     Another problem that arosed was the '---' at index 0 acts as a NaN, so I cant convert the percent change column,
     without filling in that cell  with a 0. Which I rather do than droping that row of data. as this column
     is just  reporting (aggregation) the change over the given time, since theres no data before  the first index
     its make senses there would be nothing in that column. Though changing type to float works too, with that  value error          caused by of that Nan

In [192]:
# optional
Nyc_historical['Percent_Change'] = Nyc_historical['Percent_Change'].fillna(0)


# also optional 
# Saves me the trouble later , but in all honestly an  unnessary step because of the column header 
# that reminds me that those values in percent changes are percentages not whole numbers
decim = []
for x in  Nyc_historical['Percent_Change']:
    dec = x/100
    de = round(dec,3)
    decim.append(de)
Nyc_historical['dec_Change']=decim

In [197]:
Nyc_historical['Percent_Change'] = Nyc_historical['Percent_Change'].astype(float)
# since its only the years and not a actual date, we convert it to a integer
Nyc_historical['Years'] = Nyc_historical['Years'].astype(int)

Nyc_historical

    Years  Population  Percent_Change  dec_Change
0    1698        4937             0.0       0.000
1    1712        5840            18.3       0.183
2    1723        7248            24.1       0.241
3    1737       10664            47.1       0.471
4    1746       11717             9.9       0.099
5    1756       13046            11.3       0.113
6    1771       21863            67.6       0.676
7    1790       49401           126.0       1.260
8    1800       79216            60.4       0.604
9    1810      119734            51.1       0.511
10   1820      152056            27.0       0.270
11   1830      242278            59.3       0.593
12   1840      391114            61.4       0.614
13   1850      696115            78.0       0.780
14   1860     1174779            68.8       0.688
15   1870     1478103            25.8       0.258
16   1880     1911698            29.3       0.293
17   1890     2507414            31.2       0.312
18   1900     3437202            37.1       0.371
19   1910     4766883            38.7       0.387
20   1920     5620048            17.9       0.179
21   1930     6930446            23.3       0.233
22   1940     7454995             7.6       0.076
23   1950     7891957             5.9       0.059
24   1960     7781984             1.4       0.014
25   1970     7894862             1.5       0.015
26   1980     7071639            10.4       0.104
27   1990     7322564             3.5       0.035
28   2000     8008278             9.4       0.094
29   2010     8175133             2.1       0.021
30   2020     8804190             7.7       0.077

In [198]:
# Need to convert these objects in to integers.
Nyc_historical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Years           31 non-null     int32
 1   Population      31 non-null     int32
 2   Percent_Change  31 non-null     float64
 3   dec_Change      31 non-null     float64
dtypes: float64(2), int32(2)
memory usage: 872.0 bytes

In [199]:
# luckly pandas has its own save to function
#index is false as to_csv by default saves everying in the dataframe , even the temporary index
Nyc_historical.to_csv('Nyc_historical_pop.csv', sep ='\t',index=False)

In [200]:
# loading the CSV file
new_df = pd.read_csv('Nyc_historical_pop.csv', sep='\t')

In [196]:
new_df

    Years  Population  Percent_Change  dec_Change
0    1698        4937             0.0       0.000
1    1712        5840            18.3       0.183
2    1723        7248            24.1       0.241
3    1737       10664            47.1       0.471
4    1746       11717             9.9       0.099
5    1756       13046            11.3       0.113
6    1771       21863            67.6       0.676
7    1790       49401           126.0       1.260
8    1800       79216            60.4       0.604
9    1810      119734            51.1       0.511
10   1820      152056            27.0       0.270
11   1830      242278            59.3       0.593
12   1840      391114            61.4       0.614
13   1850      696115            78.0       0.780
14   1860     1174779            68.8       0.688
15   1870     1478103            25.8       0.258
16   1880     1911698            29.3       0.293
17   1890     2507414            31.2       0.312
18   1900     3437202            37.1       0.371
19   1910     4766883            38.7       0.387
20   1920     5620048            17.9       0.179
21   1930     6930446            23.3       0.233
22   1940     7454995             7.6       0.076
23   1950     7891957             5.9       0.059
24   1960     7781984             1.4       0.014
25   1970     7894862             1.5       0.015
26   1980     7071639            10.4       0.104
27   1990     7322564             3.5       0.035
28   2000     8008278             9.4       0.094
29   2010     8175133             2.1       0.021
30   2020     8804190             7.7       0.077